body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 80px; /* Make space for footer */
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    margin: 0; /* Remove default margin */
    font-size: 1.5em; /* Smaller font size */
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
p {
    color: #666;
}
.logo {
    max-width: 100px; /* Smaller logo size */
    margin-bottom: -3px; /* Closer to title */
}
.logo2 {
    max-width: 250px;
    margin-bottom: 15px;
    position: relative;
}
.links a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin: 5px 0;
}
.footer {
    color: #666; /* Text color */
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0px; /* Partially hidden */
    transition: bottom 0.3s; /* Smooth transition */
    z-index: 1000; /*Ensure it's above other elements */
    background-color: transparent; /* Remove background color */        }
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    width: 100%; /* Full width */
    padding: 12px; /* Increased padding for button */
    background-color: #007BFF; /* Button color */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px;
    font-size: 1em; /* Increased font size */
    cursor: pointer; /* Pointer cursor on hover */
}
button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
.whatsapp-chat {
    position: fixed;
    bottom: 20px; /* Adjusted position above footer */
    left: 20px; /* Adjusted position from the right */
    z-index: 1000; /* Ensure it's above other elements */
}
.whatsapp-chat img {
    width: 60px; /* Size of the icon */
    height: 60px; /* Size of the icon */
    transition: transform 0.3s; /* Transition for hover effect */
}
.whatsapp-chat img:hover {
    transform: scale(1.1); /* Scale effect on hover */
}
